body {
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    font-family: 'Roboto', sans-serif;       
}

ul {
    padding: 0px;
    list-style-type: none;
    margin: 20px;
}

li {
    display: inline-block;
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: green;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    min-width: 50px;
    height: auto;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 45px auto;
    margin-top: 75px;
    padding: 50px;
    /*border: 30px solid rgba(145, 152, 229, 0.3);*/
    border-radius: 10px;
    box-shadow: 0 0 0 30px rgba(145, 152, 229, 0.2);
    outline: 1px solid white;
    outline-offset: 30px;
}

.tag-line {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.side-bar {
    transform: translateX(120px) rotate(-10deg) translateY(5px);
    padding: 10px 50px;
    background-color: #2749C4;
    border-radius: 50px;
    color: white;
}

.link-wrapper {
    text-align: center;
}

.link-section {
    font-size: 18px;
}

.title {
    padding: 0px;
}

hr {
    /*width: 75%;
    padding: 0px;
    text-align: right;
    height: 5px;*/
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 125%;
    margin: 0px;
}