body {
    /*background: radial-gradient(circle, closest-side, #9198e5 30%, transparent 10%, #362551 50%);*/
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    font-family: 'Roboto', sans-serif;       
}

ul {
    padding: 0px;
    list-style-type: none;

}

li {
    display: inline-block;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: green;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 45px auto;
    padding: 100px;
    border: 30px solid rgba(145, 152, 229, 0.3);
    border-radius: 7px;
}

.tag-line {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.side-bar {
    position: absolute;
    top: 400px;
    left: 750px;
    padding: 50px 25px;
    background-color: #cca8e9;
    border-radius: 10px;
    transform: rotate(-5deg);
    color: black;
}

.link-wrapper {
    text-align: center;
}

.link-section {
    font-size: 24px;
}